<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Burgers!</title>
    <script src="https://code.jquery.com/jquery.js"></script>


</head>
<div class="header">
    <img src="assets/img/burger.jpg">
    <h1 class="center">Eat Da Burger</h1>
</div>
<div class="container">

    {{{body}}}

</div>
</body>

<script>
    //on click event will get the unique id off of the data-id attribute and will send an ajax call to my PUT method in burger_controller.js. This will send MYsql an updated devoured state of true
    $(".devour").on("click", function (event) {
        console.log("stuff is happening")
        var id = $(this).data("id");
        console.log(id);
        var devoured = 1
        var newEaten = {
            devoured: devoured
        };

        $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: newEaten
        }).then(
            function () {
                console.log("changed devour to " + newEaten);
                location.reload();
            }
        );
    });

    //on click event to submit the form, this function grabs the burger name written in the input box, clears out the display, then triggers and ajax call to my post method in burger_controllers, which will insert a new burger into the burger table.
    $(".create-form").on("submit", function (evevnt) {
        event.preventDefault();
        var newBurger = {
            name: $("#burger").val().trim(),
        };
        $("#burger").val("");

        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                console.log("created new burger");

                location.reload();
            }
        );
    });
</script>

</html>